header(class='Header u-container')
  div(class='Header-logo') KAPLA
  nav(class='Header-nav')
    button(data-name='cart', type='button', class='Btn Header-navBtn Header-navBtn--cart')
      | Cart
      div(class='Badge Header-cartBadge') 1
      div(data-name='checkout', class='Header-cartPreview')
    button(type='button', class='Btn Header-navBtn') Sign in
    button(type='button', class='Btn Header-navBtn Header-navBtn--outline') Sign up
    button(type='button', class='Btn Header-navBtn Header-navBtn--dropdown') En
