$snow: #f3f3f3;
$pepper: #5a5a5a;

$light-gray-1: #f0f2f7;
$light-gray-2: #e4e7ef;
$light-gray-3: #b8bfd3;

$dark-1: #4c4b72;
$dark-2: #222328;

$blue-1: #95cec4;
$blue-2: #296076;
$blue-3: #3a405b;

$ginger-red-1: #eb795f;
$ginger-red-2: #e95f5e;

$aqua: #448a83;
$yellow: #eeb345;

$random-gray: #6a7077;
$random-gray-2: #757575;
$random-gray-3: #a4a9bd;
$random-gray-4: #c4c4c4;
